.text{
    text-align: justify;
}
.nav-item{
    margin-left: 15px;
    padding: 0 5px;
    border-radius: 10px;
    transition: .8s ease;
}
.nav-item:hover{
    background-color: rgb(255, 8, 8);
}
.nav-item:hover a{
    color: white !important;
}
.nav-item a{
    font-size: 18px;
    font-weight: 600;
}



/* gpt starts here  */
body {
  background: #eef2f7;
}


/* Cards */
.card img {
  height: 200px;
  object-fit: cover;
}

.card {
  transition: 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

/* gpt end  */


/* image poping work  */
.img-wrapper{
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  box-shadow:  0 8px 16px rgba(0,0,0,0.15);
}
.img-wrapper img{
  width: 800px;
  height: 305px;
  display: block;
  transition: transform 0.5s ease-in-out;
}
.img-wrapper:hover img {
  transform:  scale(1.15);
}
/* image poping ends  */

